.con_wrap{
    width: 1000px;
    margin: 200px auto 50px auto;
}
.logo{
    text-align: center;
    font-size: 35px;
}
.main_wrap{
    width: 100%;
}
.main_box{
    width: 500px;
    height: 330px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 70px;
}
.line_wrap{
    width: 100%;
    height: 5px;
    display: flex;
    margin-bottom: 30px;
}
.line_wrap div{
    height: 5px;
    border-radius: 2px;
}
.con_line_B{
    width: 30px;
    background-color: #333;
}
.con_line_G{
    width: 50px;
    background-color: #eee;
}
.con_text{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
}
.input_wrap{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}
.input_box{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
}
.next_btn{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #eee;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
}
.next_btn:hover{
    background-color: #ccc;
}
.next_btn > a{
    color: black;
}
/*기본 끝*/
#pwd_box{
    height: 380px;
}
.password{
    height: 50px;
    margin-bottom: 10px;
}
#pwd_input_wrap{
    height: 110px;
    margin-bottom: 50px;
}
#pwd_next_btn{
    margin-top: 50px;
}

#footer_wrap{
    border: none;
}